header{
    background-color: lightblue;
}

h1 {
    text-align: center;
    margin-left: 30px;
}
p {
    margin: 3em;
}
.dataInput {
    padding: 30px;
}
.button {
    margin-left: 30px;
}
footer {
    background-color: lightblue;
}
#Pounds, #Kilograms{
    border: 2px black solid;
    width: 50px;   
}
.input {
    display: inline-block;
    border: 2px solid black;
    padding: 50px;
}
.Lbs {
    margin: auto auto auto 400px;
}
.Kgs {
    margin: 20px;
}
.OddEven {
    margin-left: 500px;
    padding: 60px;
}
.nextSeason {
    margin-left: 500px;
    padding: 60px;
}