* {
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    background-color: #3eb4c1;
    background-size: cover;
    padding-bottom: 10px;
}
/* Navigation*/
.main-nav li {
    display: inline;
    padding: 0 2%;;
}
.main-nav a {
    display: inline-block;
    padding: 1em;
    color: #fff;
    text-decoration: none;
}
.main-nav a:hover {
background-color: rgba(255, 255, 255, .3);
}
.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

h1 {
    text-align: center;
    margin-left: 30px;
}
p {
    margin: 3em;
}
.dataInput {
    padding: 30px;
}
.button {
    margin-left: 30px;
}
footer {
    background-color:#3eb4c1;
    font-weight: bold;
    padding: 5px;
}
.input {
    display: inline-block;
    border: 2px solid black;
    
}


/* Converter*/
#Pounds, #Kilograms{
    border: 2px black solid;
    width: 50px;   
}

.Lbs {
    margin: auto auto auto 400px;
    padding: 40px;
}
.Kgs {
    margin: 20px;
    padding: 40px;
}

/*if-else*/
.ifelse {
    text-align: center;
}
.next-season-where {
    margin: 30px;
    height: 250px;
    width: 500px;
    padding: 40px;
}
.next-season-europe {
    margin: 30px;
    height: 250px;
    width: 500px;
    padding: 40px;
}
.input-season {
    display: inline-block;
    border: 2px solid black;
}
/*Odd-Even*/
.OddEven {
    margin: 30px 500px;
    padding: 60px;
}

/*factorial*/
.factorial {
    margin: 30px auto 30px 600px;
    padding: 30px;
}